:root{
    --color-link: #2d8cf0
}

* {
  font-size: 18px !important;
}

.treepage-cmd .ivu-cell-main {
    display: block;
}

#build-new-table .ivu-table-wrapper,
#build-new-table tr td:nth-of-type(3) .ivu-table-cell {
    height: 100%;
    display: flex;
    align-items: center;
}

/* 左侧菜单背景 */
.ivu-layout-sider {
    background: #fff;
}

.icon {
    /* width: 18px;
    height: 18px; */
    width: 24px;
    height: 24px;
    vertical-align: middle;
    fill: currentColor;
    overflow: hidden;
}

/* 隐藏创建表格的对话框的底部按钮 */
.ivu-modal-confirm-body-render + .ivu-modal-confirm-footer{
  display: none;
}